<!DOCTYPE html>
<html>
<head>
  <title>TskTsk</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>TskTsk</h1>
  <div id="user_nav">
  <% if current_user %>
  Welcome, <%= current_user.username %>!
  <%= link_to "(logout)", log_out_path %>
  <% end %>
</div>
<div id="content">
  <%= alert %>
  <%= yield %>
</div>
</body>
</html>
